.avatar {
  border-radius: 50%;
}
.song-avatar {
  width: 4.8rem;
  height: 4.8rem;
}
.user {
  position: relative;
}
.user-avatar {
  width: 3.8rem;
  height: 3.8rem;
}
.avatar__status {
  position: absolute;
  width: 10px;
  height: 10px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  outline: 5px solid var(--gray900);
  background-color: #2FC687;
}