.album-card {
  user-select: none;
}
.album__image {
  border-radius: 1rem;
  box-shadow: rgba(19, 3, 47, 0.637) 0px 3px 15px;
}
.album__title {
  margin-top: 1.4rem;
  font-size: 1.9rem;
  margin-bottom: .5rem;
}
.album__artist {
  color: var(--gray200);
  font-size: 1.4rem;
}