.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-right: var(--separation);
}
.header form {
  width: 100%;
  max-width: 38rem;
}
.searcher {
  position: relative;
}
.searcher svg {
  position: absolute;
  left: 1.2rem;
  top: 1.3rem;
}
.search__input {
  border-radius: .5rem;
  padding-block: 1.3rem;
  padding-left: 4.2rem;
  background-color: #191920;
  color: inherit;
  font-family: inherit;
  transition: border-color, background-color .22s ease;
  width: 100%;
}
.search__input::placeholder {
  color: var(--gray50);
}
.search__input:focus {
  outline: 2px solid var(--primary);
}
.header__open {
  color: var(--white);
}