.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--separation);
}
.searcher {
  position: relative;
}
.searcher svg {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}
.search__input {
  border-radius: .5rem;
  padding-block: 1.2rem;
  padding-left: 4.5rem;
  background-color: var(--gray600);
  color: inherit;
  width: 100%;
  max-width: 60rem;
  border: 2px solid var(--gray400);
}
.search__input::placeholder {
  color: var(--gray200);
}
.header__open {
  color: var(--white);
}