@keyframes onAppear {
  to {
    transform: translateY(0);
  }
}
.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray500);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 3rem;
  padding-left: 1rem;
  transform: translateY(100%);
  animation: onAppear .18s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.player__controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  left: 50%;
  bottom: 0;
  gap: 1rem;
  padding-block: 1.15rem;
  padding-inline: 3rem;
}
.player__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.player__play {
  display: flex;
  align-items: center;
  padding: 1.1rem;
  border-radius: 1.7rem;
  background-color: #fff;
}
.bar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.bar__time {
  display: inline-block;
  font-size: 1.1rem;
  color: #cbcbcb;
  width: 2rem;
  margin-inline: .5rem;
}
.bar .css-2bvlrv-Slider {
  flex: auto;
}
/*
.bar__progress {
  width: 100%;
  background-color: var(--gray100);
  overflow-x: hidden;
  height: 5px;
  position: relative;
  border-radius: 1rem;
}
.bar__progress::before {
  content: "";
  height: inherit;
  border-radius: inherit;
  position: absolute;
  background-color: var(--primary);
  width: 100%;
  left: -100%;
  border-radius: inherit;
  transform: translateX(20%);
}*/