@keyframes onAppear {
  to {
    transform: translateY(0);
  }
}
.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--gray500);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 3rem;
  padding-left: 1rem;
  transform: translateY(100%);
  animation: onAppear .18s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.player__controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 65rem;
  gap: 1.2rem;
  padding-block: 1.15rem;
  padding-inline: 3rem;
}
.player__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.player__play {
  display: flex;
  align-items: center;
  padding: 1.1rem;
  border-radius: 1.7rem;
  background-color: #fff;
}
.bar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.bar__time {
  display: inline-block;
  font-size: 1.1rem;
  color: #cbcbcb;
  width: 2rem;
  margin-inline: .5rem;
}
.bar .css-2bvlrv-Slider {
  flex: auto;
}
.player__volume {
  display: inherit;
  gap: 1rem;
  align-items: inherit;
}