.button {
  margin-left: auto;
  padding: 1rem 2.2rem;
  color: var(--white);
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1.4rem;
  border-radius: .4rem;
  background-color: var(--primary);
  cursor: pointer;
}
.button--red {
  margin-left: 0;
  background-color: #DC4A41;
}
.button:hover {
  background-color: #A379E7;
}
.button--red:hover {
  background-color: #F56565;
}
.button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  user-select: none;
}
.button--disabled:hover {
  background-color: var(--primary)
}