.aside {
  background-color: var(--gray900);
  padding-block: 2rem;
  padding-inline: 1.2rem;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.2rem;
}
.profile__username {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.nav__list {
  padding-top: 1rem;
  width: calc(var(--separation) * 4.6);
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
.nav__item {
  display: flex;
  overflow-x: hidden;
  border-radius: .55rem;
  align-items: center;
  gap: 1.8rem;
  color: var(--gray80);
  font-size: 1.4rem;
  font-weight: 700;
  padding-block: 1.2rem;
  padding-left: 1.2rem;
}
.nav__item:hover {
  background-color: var(--gray700);
  color: var(--gray50);
}
.nav__item:nth-child(4) {
  cursor: pointer;
  margin-top: 1rem;
}
.nav__item--active {
  background-color: var(--gray700);
  color: var(--gray50);
}
.nav__item--active svg {
  fill: var(--white);
  stroke: var(--white);
}
.icon svg{
  fill: var(--gray500);
  stroke: none;
}
.nav__section {
  color: var(--gray400);
  font-size: 1.2rem;
  padding-block: 1rem;
  padding-left: 1.2rem;
  font-weight: 700;
}
.icons {
  display: inherit;
  margin-left: auto;
  margin-right: .75rem;
  opacity: 0;
  fill: var(--gray500);
}
.icon:hover svg {
  fill: var(--white);
}
.item__icon--add {
  opacity: 1;
}
.nav__item:hover .item__icon--add {
  fill: var(--white);
}
.nav__item:hover .icons {
  opacity: 1;
}