.aside {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray700);
  padding-block: 1.6rem;
  padding-left: 2rem;
  height: inherit;
  flex: 0 0 auto;
  transform: translateX(-100%);
  z-index: 9;
}

@media screen and (min-width: 52em) {
  .aside {
    position: static;
    transform: translateX(0);
  } 
}
.logo {
  font-size: 2.2rem;
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.navbar__item {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding-right: 10rem;
  position: relative;
}
.navbar__item::after {
  content: "";
  position: absolute;
  right: 0;
  width: 3px;
  height: 100%;
  border-radius: 2px;
  background-color: var(--primary);
}