.aside {
  background-color: var(--gray900);
  padding: 1.6rem 1rem;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.navbar__list {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.navbar__item {
  display: flex;
  border-radius: .55rem;
  align-items: center;
  gap: 1.8rem;
  color: var(--gray80);
  font-size: 1.4rem;
  padding-block: 1.2rem;
  font-weight: 700;
  padding-left: 1.2rem;
  padding-right: calc(var(--separation) * 2.3);
  position: relative;
}
.navbar__item:hover {
  background-color: var(--gray700);
  color: var(--white);
}
.navbar__item:hover svg {
  stroke: var(--white);
  fill: var(--white);
}