.form {
  width: 100%;
  max-width: 45rem;
  border-radius: .5rem;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  padding-inline: 2.8rem;
  font-size: 1.6rem;
  background-color: var(--gray700);
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form__content div:nth-child(1) {
  position: relative;
}
.form__input, .form__description {
  width: 100%;
  padding: 1rem;
  color: var(--gray50);
  font-size: inherit;
  border-radius: .35rem;
  font-family: inherit;
  font-weight: 500;
  outline: 1px solid hsl(246, 11%, 22%);
  background-color: var(--gray700);
}
.form__input::placeholder, .form__description::placeholder {
  color: var(--gray200);
}
.form__input--error {
  outline: 1px solid #F56565;
}
.form__description {
  height: 100%;
  min-height: 8.5rem;
}
.form__button {
  margin-left: auto;
  padding: 1rem 2.5rem;
  color: var(--white);
  font-size: inherit;
  font-weight: 500;
  margin-top: 1rem;
  border-radius: .4rem;
  background-color: var(--primary);
  cursor: pointer;
}
.form__button:hover {
  background-color: #A379E7;
}
.form__error {
  margin: 0;
  top: -2.5rem;
  right: 0;
  position: absolute;
  text-align: right;
  font-size: 1.4rem;
  color: #F56565;
}