.search__form {
  position: relative;
}
.search__form svg {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}
.search__input {
  border-radius: .5rem;
  padding-block: 1.2rem;
  padding-left: 4.5rem;
  background-color: var(--gray600);
  color: inherit;
  min-width: 35rem;
  border: 2px solid var(--gray400);
}
.search__input::placeholder {
  color: var(--gray200);
}