.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.520);
}
.modal__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.modal__heading h2 {
  margin-top: 1.8rem;
  font-size: 2.6rem;
  color: var(--gray50);
}
.heading__close {
  fill: var(--gray50);
}
.heading__close:hover {
  fill: var(--gray80);
}