.song-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-block: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  transition: background-color .12s ease-in-out;
}
.song-card:hover {
  background-color: #00000021;
}
.song__content {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  gap: 1.2rem;
}
.song__title {
  margin-top: 0;
  margin-bottom: .2rem;
  font-size: 1.5rem;
}
.song__artist {
  font-size: 1.25rem;
  color: var(--gray200);
}
.song__image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.song__duration {
  margin-left: auto;
  color: #dcdcdc;
  font-size: 1.2rem;
  font-weight: 200;
}